.link-block {
    background-color: #fff;
    display: flex;
    position: relative;
    padding: 20px 20px 40px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;

    > img {
        max-width: 100%;
        height: auto;
    }
}

.link-block a {
    width: 100%;
    text-decoration: none;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.link-block__title {
    display: block;
    color: $text-color;
    text-decoration: none;
    font-weight: 300;
    font-size: 24px;
    font-family: "Lato";
    margin: 20px 0;
}

.link-block__desc {
    font-size: $body-font-size;
    color: $text-color;
    font-weight: 300;
    line-height: 30px;
    flex: 1;
}
