.group-block {
    background-color: #fff;
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.group-block a {
    width: 100%;
    text-decoration: none;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.group-block__header {
    background-color: $base-color;
    overflow: hidden;

    > img {
        margin: auto;
        vertical-align: bottom;
        max-width: 100%;
        height: auto;
    }
}

.group-block__title {
    display: block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    font-weight: 300;
    font-size: 24px;
    font-family: "Lato";
    margin: 0;
}

.group-block__desc {
    padding: 20px 20px;
    font-size: $body-font-size;
    color: $text-color;
    font-weight: 300;
    line-height: 30px;
    flex: 1;
}

.group-block__next-sess {
    font-weight: 300;
    padding: 0 20px 20px 20px;
    font-size: 20px;
    color: $text-color;
    line-height: 30px;
    font-style: italic;
}
