.layout {
    lost-center: $page-width;
}

.layout-header {
    border-top: 8px solid $base-color;
    position: relative;
    z-index: 1;
    padding: 20px 0;
    margin-bottom: 20px;
    box-sizing: border-box;

    &__logo {
        color: $text-color;
        margin-top: 10px;
    }
}

.layout-footer {
    background: darken($background-color, 20%);
    height: 200px;
    color: #fff;
    padding: 20px;
    margin-top: 40px;
}

.layout-body {
    background-color: #fff;
    position: relative;
    box-sizing: border-box;

    &--home {
        @extend .layout-body;
        padding: 10px 50px;
    }
}

.layout-body-title {
    position: absolute;
    top: -45px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 2.2em;
    font-weight: 600;
    text-shadow: 2px 2px #000;
}

.layout-section {
    margin-top: 30px;
    margin-bottom: 80px;
    clear: both;

    &--intro {
        margin: 40px 0 80px 0;
    }

    &--short {
        margin: 40px 0 40px 0;
    }

    &--bg {
        background-color: #fff;
        padding: 40px;

        .layout-section__image {
            margin: -40px -40px 40px -40px;

        }
    }


}

.layout-section__heading {
    font-family: "lato";
    font-size: 100px;
    line-height: 100px;
    font-weight: 300;
    padding: 20px 0;
    margin-bottom: -40px;
    margin-top: -40px;
    margin-left: -30px;
    color: darken($background-color, 10%);
    z-index: 0;
    position: relative;
    // font-family: "lato";
    // font-size: 34px;
    // font-weight: 300;
    // padding: 20px 0;
    // color: $text-color;
    // z-index: 0;
    // position: relative;
}

.layout-col-half {
    lost-column: 1/2;
}
