.link-list {
    padding: 10px 0;
    clear: both;
}

.link-list-item {
    text-decoration: none;
    padding: 5px 0;
    color: $text-color;
    display: block;
    font-size: $body-font-size;
    font-weight: 300;
}

.link-list-item__icon {
    fill: #ccc;
    width: $body-font-size;
    height: $body-font-size;
    margin-right: 10px;
    vertical-align: top;
}
