.text {
}

.text--subhead-on-dark {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 400;
    color: darken(#fff, 20%);
}

.text--intro {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 43px;
    color: $text-color;
    -webkit-font-smoothing: antialiased;

    > span {
        font-weight: 600;
        position: relative;

        svg {
            fill: $text-color;
            width: 20px;
            vertical-align: middle;;
            height: 20px;
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 0;
            opacity: 0;
            transition: all 0.5s ease;
        }

        &:hover svg {
            bottom: 30px;
            opacity: 1;
        }
    }
}

.text--title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 43px;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
}

.text--byline {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
}

.text--intro-small {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 36px;
    color: $text-color;
    -webkit-font-smoothing: antialiased;

    > span {
        font-weight: 600;
    }
}

.text--body {
    p, h1, h2, li {
        font-size: 20px;
        line-height: 32px;
        color: $text-color;
        -webkit-font-smoothing: antialiased;
    }

    p {
        margin-bottom: 32px;
    }

    li {
        list-style: square;
    }

    ul {
        margin: 32px 32px;
    }

    b {
        font-weight: 600;
    }

    a {
        color: $link-color;
        text-decoration: none;
        border-bottom: 1px dotted lighten($link-color, 30%);
    }

    font-family: "Merriweather";
    font-weight: 300;
}
