{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% block content %}
<div class="layout-section">
    <h2 class="layout-section__heading">
        Blog
    </h2>
    <ul class="grid--thirds">
        {% for post in blog_articles %}
        <li class="blog-post-block">
            <a href="{{ post.url }}">
                <div class="blog-post-block__image">{% image post.main_image fill-310x100 %}</div>
                <div class="blog-body blog-post-block__body">
                    <h3 class="blog-body__title">{{ post.title }}</h3>
                    <div class="blog-body__author">{{ post.author }}</div>
                    <div class="blog-body__date">{{ post.date }}</div>
                    <div class="blog-body__intro">{{ post.intro }}</div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% if blog_articles.has_previous %}
        <a href="?p={{ blog_articles.previous_page_number }}" class="button">
        <svg><use xlink:href="/static/img/icons.svg#icon-chevron-left"></use></svg>
        Newer</a>
    {% endif %}
    {% if blog_articles.has_next %}
        <a href="?p={{ blog_articles.next_page_number }}" class="button">Older
        <svg><use xlink:href="/static/img/icons.svg#icon-chevron-right"></use></svg>
        </a>
    {% endif %}
</div>
{% endblock %}
