{% load static wagtailuserbar sd_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %} - Snowdonia Dragons</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link href='https://fonts.googleapis.com/css?family=Lato:100,400,700,300|Source+Sans+Pro:200,300,300italic,400,600|Raleway:400,600|Merriweatehr:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="layout">
        {% wagtailuserbar %}
        <header class="layout-header" style="border-top-color: {% block header_color %}{% endblock %}">
            {% if request.path != "/" %}
            <a href="/" class="layout-header__home">
                <svg><use xlink:href="/static/img/icons.svg#icon-home"></use></svg>
                <span>Home</span>
            </a>
            {% endif %}
            <h1 class="layout-header__logo logo">
                {% block header_title %}Snowdonia Dragons{% endblock %}
                <span class="logo__tagline">{% block header_summary %}North Wales Board Game Community{% endblock %}</span>
            </h1>
        </header>
        {% block content %}{% endblock %}
        <div class="layout-footer">
            <div class="grid--thirds">
                <div class="footer-links">
                    <h3 class="footer-links__header">Groups</h3>
                    <ul class="footer-links__list">
                        {% group_list %}
                    </ul>
                </div>
                <div class="footer-links">
                    <h3 class="footer-links__header">Social</h3>
                    <ul class="footer-links__list">
                        <li><a href="https://boardgamegeek.com/guild/1506">BoardGameGeek</a></li>
                        <li><a href="https://www.facebook.com/snowdoniadragons">Facebook</a></li>
                        <li><a href="https://www.twitter.com/snowdoniadragon">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'app.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
