{% extends "base.html" %} {% load wagtailimages_tags thumbnail %} {% block content %}

<div class="layout-section--intro">
    <p class="text--intro">We’re a group of
        <span>
            <svg><use xlink:href="/static/img/icons.svg#icon-meeple"></use></svg>
            board gamers
        </span> from
        <span>
            <svg><use xlink:href="/static/img/icons.svg#icon-welshdragon"></use></svg>
            North Wales
        </span> - we arrange various game groups and events which are open for <span>

            <svg><use xlink:href="/static/img/icons.svg#icon-highfive"></use></svg>
anyone</span> to join.</p>
    <p class="text--intro-small">You can join us for just one evening, every now and again, or every week. Whether you like eurogames, wargames or card games, there's room for you.</p>
    <p class="text--intro-small">We'd love to see you at one of <span>our groups</span>.</p>
</div>

<div class="layout-section">
    <h2 class="layout-section__heading">
        Our Groups
    </h2>
    <ul class="grid--thirds">
        {% for group in groups %}
        <li class="group-block">
            <a href="{% url "group" group.id %}">
                <h3 class="group-block__title" style="background-color: #{{ group.colour }}">{{ group.name }}</h3>
                {% image group.main_image fill-310x160 %}
                <div class="group-block__desc">
                    {{ group.summary }}
                </div>
                <div class="group-block__next-sess">
                    {% if group.next_session %}
                        Next session: {{ group.next_session.date }}
                    {% else %}
                        No sessions planned
                    {% endif %}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="layout-section">
    <h2 class="layout-section__heading">
        Recent Blog Posts
    </h2>
    <ul class="grid--thirds">
        {% for post in blog_posts %}
        <li class="blog-post-block">
            <a href="{{ post.url }}">
                <div class="blog-post-block__image">{% image post.main_image fill-310x100 %}</div>
                <div class="blog-body blog-post-block__body">
                    <h3 class="blog-body__title">{{ post.title }}</h3>
                    <div class="blog-body__author">{{ post.author }}</div>
                    <div class="blog-body__date">{{ post.date }}</div>
                    <div class="blog-body__intro">{{ post.intro }}</div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="layout-section">
    <h2 class="layout-section__heading">
        Recent Sessions
    </h2>
    <ul class="grid--full">
        {% for session in recent_sessions %}
        <li class="session-line">
            <div class="session-line__summary">
                <h3 class="session-line-title">{{ session.name|default:session.game_group.name }}</h3>
                <p class="session-line-date">{{ session.date }}</p>
            </div>
            <div class="session-line__details">
                {% for game in session.games_played.all %} {% thumbnail game.game.image "x100" as im %}
                <img src="{{ im.url }}"> {% endthumbnail %} {% endfor %}
            </div>
            <div class="session-line__link-list">
                <ul class="link-list">
                    {% for link in session.related_media.all %}
                    <a href="{{ link.link }}" class="link-list-item">
                        <svg class="link-list-item__icon"><use xlink:href="/static/img/icons.svg#icon-paper"></use></svg> {{ link.title }}
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
